[submodule "user/oca/account-analytic"]
	path = user/oca/account-analytic
	url = https://github.com/oca/account-analytic
	branch = 12.0	
[submodule "user/oca/account-budgeting"]
	path = user/oca/account-budgeting
	url = https://github.com/oca/account-budgeting
	branch = 12.0	
[submodule "user/oca/account-closing"]
	path = user/oca/account-closing
	url = https://github.com/oca/account-closing
	branch = 12.0	
[submodule "user/oca/account-financial-reporting"]
	path = user/oca/account-financial-reporting
	url = https://github.com/oca/account-financial-reporting
	branch = 12.0	
[submodule "user/oca/account-financial-tools"]
	path = user/oca/account-financial-tools
	url = https://github.com/oca/account-financial-tools
	branch = 12.0	
[submodule "user/oca/account-invoice-reporting"]
	path = user/oca/account-invoice-reporting
	url = https://github.com/oca/account-invoice-reporting
	branch = 12.0	
[submodule "user/oca/account-invoicing"]
	path = user/oca/account-invoicing
	url = https://github.com/oca/account-invoicing
	branch = 12.0	
[submodule "user/oca/account-payment"]
	path = user/oca/account-payment
	url = https://github.com/oca/account-payment
	branch = 12.0	
[submodule "user/oca/bank-payment"]
	path = user/oca/bank-payment
	url = https://github.com/oca/bank-payment
	branch = 12.0	
[submodule "user/oca/bank-statement-import"]
	path = user/oca/bank-statement-import
	url = https://github.com/oca/bank-statement-import
	branch = 12.0	
[submodule "user/oca/brand"]
	path = user/oca/brand
	url = https://github.com/oca/brand
	branch = 12.0	
[submodule "user/oca/commission"]
	path = user/oca/commission
	url = https://github.com/oca/commission
	branch = 12.0	
[submodule "user/oca/contract"]
	path = user/oca/contract
	url = https://github.com/oca/contract
	branch = 12.0	
[submodule "user/oca/crm"]
	path = user/oca/crm
	url = https://github.com/oca/crm
	branch = 12.0	
[submodule "user/oca/currency"]
	path = user/oca/currency
	url = https://github.com/oca/currency
	branch = 12.0	
[submodule "user/oca/field-service"]
	path = user/oca/field-service
	url = https://github.com/oca/field-service
	branch = 12.0	
[submodule "user/oca/geospatial"]
	path = user/oca/geospatial
	url = https://github.com/oca/geospatial
	branch = 12.0	
[submodule "user/oca/helpdesk"]
	path = user/oca/helpdesk
	url = https://github.com/oca/helpdesk
	branch = 12.0	
[submodule "user/oca/hr"]
	path = user/oca/hr
	url = https://github.com/oca/hr
	branch = 12.0	
[submodule "user/oca/l10n-brazil"]
	path = user/oca/l10n-brazil
	url = https://github.com/oca/l10n-brazil
	branch = 12.0	
[submodule "user/oca/mis-builder"]
	path = user/oca/mis-builder
	url = https://github.com/oca/mis-builder
	branch = 12.0	
[submodule "user/oca/partner-contact"]
	path = user/oca/partner-contact
	url = https://github.com/oca/partner-contact
	branch = 12.0	
[submodule "user/oca/product-attribute"]
	path = user/oca/product-attribute
	url = https://github.com/oca/product-attribute
	branch = 12.0	
[submodule "user/oca/project"]
	path = user/oca/project
	url = https://github.com/oca/project
	branch = 12.0	
[submodule "user/oca/purchase-workflow"]
	path = user/oca/purchase-workflow
	url = https://github.com/oca/purchase-workflow
	branch = 12.0	
[submodule "user/oca/queue"]
	path = user/oca/queue
	url = https://github.com/oca/queue
	branch = 12.0	
[submodule "user/oca/reporting-engine"]
	path = user/oca/reporting-engine
	url = https://github.com/oca/reporting-engine
	branch = 12.0	
[submodule "user/oca/sale-reporting"]
	path = user/oca/sale-reporting
	url = https://github.com/oca/sale-reporting
	branch = 12.0	
[submodule "user/oca/sale-workflow"]
	path = user/oca/sale-workflow
	url = https://github.com/oca/sale-workflow
	branch = 12.0	
[submodule "user/oca/server-backend"]
	path = user/oca/server-backend
	url = https://github.com/oca/server-backend
	branch = 12.0	
[submodule "user/oca/server-tools"]
	path = user/oca/server-tools
	url = https://github.com/oca/server-tools
	branch = 12.0	
[submodule "user/oca/server-ux"]
	path = user/oca/server-ux
	url = https://github.com/oca/server-ux
	branch = 12.0	
[submodule "user/oca/stock-logistics-warehouse"]
	path = user/oca/stock-logistics-warehouse
	url = https://github.com/oca/stock-logistics-warehouse
	branch = 12.0	
[submodule "user/oca/stock-logistics-workflow"]
	path = user/oca/stock-logistics-workflow
	url = https://github.com/oca/stock-logistics-workflow
	branch = 12.0	
[submodule "user/oca/timesheet"]
	path = user/oca/timesheet
	url = https://github.com/oca/timesheet
	branch = 12.0	
[submodule "user/oca/web"]
	path = user/oca/web
	url = https://github.com/oca/web
	branch = 12.0	
[submodule "user/core"]
	path = core
	url = https://github.com/oca/ocb
	branch = 12.0	
[submodule "user/escodoo/account-reports"]
	path = user/escodoo/account-reports
	url = https://github.com/escodoo/account-reports
	branch = 12.0	
[submodule "user/escodoo/crm-addons"]
	path = user/escodoo/crm-addons
	url = https://github.com/escodoo/crm-addons
	branch = 12.0	
[submodule "user/escodoo/fieldservice-addons"]
	path = user/escodoo/fieldservice-addons
	url = https://github.com/escodoo/fieldservice-addons
	branch = 12.0	
[submodule "user/escodoo/helpdesk-addons"]
	path = user/escodoo/helpdesk-addons
	url = https://github.com/escodoo/helpdesk-addons
	branch = 12.0	
[submodule "user/escodoo/sale-addons"]
	path = user/escodoo/sale-addons
	url = https://github.com/escodoo/sale-addons
	branch = 12.0	
[submodule "user/escodoo/stock-addons"]
	path = user/escodoo/stock-addons
	url = https://github.com/escodoo/stock-addons
	branch = 12.0	
[submodule "user/escodoo/calendar-addons"]
	path = user/escodoo/calendar-addons
	url = https://github.com/escodoo/calendar-addons
	branch = 12.0	
[submodule "user/escodoo/project-addons"]
	path = user/escodoo/project-addons
	url = https://github.com/escodoo/project-addons
	branch = 12.0	
[submodule "user/muk-it/muk_base"]
	path = user/muk-it/muk_base
	url = https://github.com/muk-it/muk_base
	branch = 12.0	
[submodule "user/muk-it/muk_web"]
	path = user/muk-it/muk_web
	url = https://github.com/muk-it/muk_web
	branch = 12.0	
[submodule "user/oca/website"]
	path = user/oca/website
	url = https://github.com/oca/website
	branch = 12.0	
[submodule "user/oca/knowledge"]
	path = user/oca/knowledge
	url = https://github.com/oca/knowledge
	branch = 12.0	
[submodule "user/oca/server-brand"]
	path = user/oca/server-brand
	url = https://github.com/oca/server-brand
	branch = 12.0	
[submodule "user/escodoo/account-addons"]
	path = user/escodoo/account-addons
	url = https://github.com/escodoo/account-addons
	branch = 12.0
[submodule "user/oca/manufacture"]
	path = user/oca/manufacture
	url = https://github.com/OCA/manufacture.git
	branch = 12.0
[submodule "user/oca/manufacture-reporting"]
	path = user/oca/manufacture-reporting
	url = https://github.com/OCA/manufacture-reporting.git
	branch = 12.0
